<!DOCTYPE html>
<html>
    <head>
        <title>Propose Team</title>
    </head>
    <body>
        <form method="POST" style="margin:10px 10px">
            <h3>Round {{round}}</h3>
            <p>
                <label for="leader" min="0" max="9">Leader: </label>
                <input type="number" name="leader"><br>
                Proposed team: <br>
                <span id="team">
                    <script>
                        for(var i = 0; i < 10; ++i) {
                            document.getElementById("team").innerHTML +=
                            '<label for="'+i+'">'+i+' </label>\
                             <input type="checkbox" name="'+i+'"><br>';
                        }
                    </script>
                </span>
                <input type="submit">
            </p>
        </form>
    </body>
</html>